*{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(227, 12%, 61%);
    
}
.d-flex{
    display: flex;
}
body{
    margin: 0;
    /* background-image: url("images/bg-desk.svg");  */

    background-size: contain;
    background-repeat: no-repeat;
} 
.main{
background-repeat: no-repeat;
background-size: cover;
max-width:90%;
margin:auto;
position: relative;
}
.logo{
    align-self: flex-end;}
.top{
    margin: 30px 0px;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}
.links{
    flex-grow: .25;
        /* width: 40%; */
    justify-content: space-around;
    height: max-content;
    margin: 0;
    padding: 0;
    align-items: center;
}
.links p{
    margin: 0;
    font-weight: 500;
}
.links p a{
    text-decoration: none;
    font-weight: 600;
    color: hsl(228, 39%, 23%);
}
.links p a:hover{
    color:hsl(227, 12%, 61%);
    }
.icon{
    display: none;
    cursor: pointer;
    z-index: 3;
}
.client-pic{
    width: 100px;
    height:100px;
    border-radius: 50%;
}
.get{
    padding: 10px 22px;
    background-color: hsl(12, 88%, 59%);
    border-radius: 20px;
    color: white;
    box-shadow: 1px 2px 5px 0px #5d2b1fde;
    font-weight: 500;
    border: none;
    height: max-content;
    cursor: pointer;
}
.white:hover{
    color: hsl(12, 93%, 73%);
}
.get:hover{
    background-color: #fa947a;
    /* color: #f3603c; */
}
.white{
    background-color: white;
    color: hsl(12, 88%, 59%);
    box-shadow: 1px 2px 5px 0px #5d2b1fde;
    border: none;
    height: max-content;
    border-radius: 20px;
    padding: 10px 22px;
    z-index:10;
    cursor: pointer;
}

.first{
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    margin-top: 80px;
    padding: 10px 22px;
}
.start{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
   max-width: 500px;
    /* width: 40%; */
    min-width: 250px;
}
.start-text{
   margin-bottom: 20px; 
}
.bring{
    font-size: 40px;
    font-weight: 700;
    color: hsl(228, 39%, 23%);
    margin-bottom:10px;
    line-height:1;
}
.plan{
    margin-top: 5px;
}
.image{
    max-width: 586px;
    
    min-width: 250px;
}
.image img{
    width:100%;
    height: 100%;
}

.second{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:30px 0px;
}
 .left-section{
    width: 500px;
    max-width: 100%;
} 
.text-diff{
    width: 330px;
    max-width: 100%;
}
.different{
    font-size: 40px;
    color: hsl(228, 39%, 23%);
    line-height: 1;
    font-weight: 700;
    margin-bottom: 10px;

}
.right-section{
    max-width: 100%;
    width: 600px;
    height:max-content;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.feature{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
    position: relative;
}
.num{
    width: max-content;
    height: max-content;
    padding: 2px 13px;
    border-radius: 16px;
    background: #f3603c;
    color: white;
}
.single{
    width: 90%;
}
.single-line{
    display: flex;
}
.title-text{
    align-self: flex-end;
    width: 90%;
}
.title{
    font-weight: 700;
    margin-bottom: 15px;
    margin-left: 10px;
    /* color: #242d52; */
    color:hsl(228, 39%, 23%);
}
.what{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: hsl(228, 39%, 23%);
}
.person-slide{
    justify-content: space-between;
    margin: 35px 0px;
    flex-wrap: wrap;

}
.person{
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-evenly;
    position: relative;
}
.person-overlay{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    z-index: -1;
    top:27%;
    background: rgba(195, 194, 194, 0.13);
}
.person:nth-last-child(1){
    display: none;
}
.person:nth-last-child(2){
    display:none;
}
.person:nth-child(1){
    display:none;
}
.person-name{
    color: #242d52;
    font-weight: 500;
}
.name-text{
    max-width: 426px;
    text-align:center;
}
.getCentre{
    text-align:center;
    margin: 55px 0px;
    margin-bottom: 100px;
}
.orange{
    height: 200px;
     /* background:url("images/bg-tablet-pattern.svg"), linear-gradient(45deg,#f3603c,#f3603c); */
    justify-content: space-around;
    align-items: center;
    position: relative;

}
.orange-overlay{
    background: url(images/bg-simplify-section-desktop.svg),linear-gradient(45deg, #f25f3a, #f3603b);    position: absolute;
    top:0;
    background-position: bottom;
    bottom:0;
    right:0;
    left:0;
    z-index:1;
    background-size:cover;


}
.simplify{
    z-index:10;
    width: 470px;
    font-size: 40px;
    color: white;

}
.bottom{
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    padding: 39px 20px;
    background-color: hsl(233, 12%, 13%);
    
    position: relative;
}
.footer-links{
    justify-content: space-around;
    flex-grow: .4;
    align-items: self-start;
    color: white;
}
.icons{
    flex-direction: column;
    justify-content: space-between;
}
.updates{
    flex-direction: column;
    justify-content: space-between;
}
.home-links,.comm{
    display: flex;
    flex-direction: column;
}
.input-t{
    border: none;
    border-radius: 20px;
    outline:none;
    margin-right: 5px;
    padding:5px 8px;
}
.attribution{
   background-color: #1d1e25;
   
}
.prevDiv,.nextDiv{
position: absolute;
z-index: 2;
top: 0;
bottom: 0;
display: none;
justify-content: center;
align-items: center;
cursor: pointer;
}
.prevDiv{
left: 2%;
}
.nextDiv{
right:2%;
}
.prevIcon,.nextIcon{
    width: 12px;
    opacity:.8;
}
/* .comm{
    height: 57%;
    justify-content: space-around;
}
.home-links{
    height: 80%;
    justify-content: space-around;
} */
.hme-link{
    margin-bottom: 10px;
}
.hme-link a{
    text-decoration: none;
    color: #fff;
}
.hme-link a:hover{
    color:#f3603c;
}
.media-icons img{
    cursor: pointer;
}
.media-icons img:hover{
    fill:#f3603c;
}
.circles{
    display: none;
}

/* animations */
@keyframes slideIn{
    0%{
        transform: none;
    }
    100%{
        transform: translateX(-50%);
    }
}

@media only screen  and (max-width:375px){
    .person-slide{
        flex-wrap: nowrap;
    }
    body{
background:url("images/bg-tablet-pattern.svg");
background-repeat: no-repeat;
    }
    .orange-overlay{
background: url(images/bg-simplify-section-mobile.svg),linear-gradient(45deg, #f25f3a, #f25f3a);
        background-repeat: no-repeat;
    }
    .prevDiv,.nextDiv{
        display: flex;
    }
    .dot{
        width:10px;
        height:10px;
        border: 1px solid #f3603c;
       margin:2px;
        border-radius:50%;
    }
    .circles{
        position:absolute;
        z-index:3;
        bottom:0;
        left:50%;
        transform: translateX(-50%);
        display: flex;
    }
    .background{
        background:#f3603c;
    }

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.top .get{
    display:none;
}
.icon{
    display: block;
}
.none{
    display: none;
}
.click{
    display: flex;
}
.first{
    margin-top: 14px;
    padding: 0;
    text-align: center;
    justify-content: center;
    flex-direction: column-reverse;
}
.second{
    flex-direction: column;
    margin:0;
}
.title{
    margin: 0px;
    margin-left: 10px;
}
.image {
    max-width: 586px;
    width: 100%;
    min-width: 250px;
    max-height: 404px;
    height: max-content;
}
.single-line{
    align-items: center;
    background: #f3613c3d;
    border-radius: 20px;
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.main{
    max-width: 100%;
    margin-left: 10px;
    margin-right: 0;

}
.what{
    font-size: 28px;
    line-height: 1.2;
}
.hide-flow{
    /* flex-direction: row; */
    overflow: hidden;
    position: relative;
}

.person{
    min-width: 100%;
    height: max-content;
}
 .person:nth-child(1){
    display: flex;;
} 
.person:nth-last-child(1){
    display:flex;
}
.person:nth-last-child(2){
    display: flex;
}
.links{
        width: 90%;
        text-align: center;
        /* transform: translateX(-50%); */
        left: 50%;
        background: white;
    box-shadow: 1px 2px 4px 0px #00000030;
    border-radius: 3px;
    padding: 10px;
    height: 250px;
    position: absolute;
    z-index: 3;
    flex-direction: column;
    top: 2%;
    opacity: 1;
    animation: slideIn .5s 0s ease forwards;

}
.slide-out{
    animation:slideIn .7s 0s linear reverse;
}
.overlayC{
    position: fixed;
    z-index: 1;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.623),transparent);
    left: 0;
    right:0;
    top:0;
    bottom:0;
}
.image img{
    width: 100%;
    height: 250px;
}
.start{
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    max-width: 100%;
    min-width: 275px;
}
.different{
    font-size: 28px;
    line-height: 1.2;
}
.start-text {
    margin-bottom: 20px;
}
.title-text{
    width: 100%;
}
.bring{
    line-height: 1.2;
    font-size: 28px;
    margin: auto;
    font-weight: 700;
    color: #242d52;
    width: 100%;
}
.plan{
    width: 100%;
}
.orange{
    flex-direction: column;
    word-break: break-word;
    padding: 50px 5px;
    text-align: center;
    height: max-content;
}
.simplify{
    font-size: 35px;
    width: 80%;
    margin-bottom: 20px;
}
.left-section{
    width: 500px;
    max-width: 100%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.right-section{
    width: 600px;
    max-width: 100%;
    height: max-content;
}
.icons{
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 30px;
}
.icons img{
    align-self:center;
}
.media-icons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}
.footer-links{
    margin: 20px 0px;
    margin-top: 30px;
    justify-content: space-between;
}
.right{
    position: absolute;
    bottom: 4%;
    text-align: center;
    font-size: 12px;
    align-self: center;
}

}